*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content{
    display: flex;
    flex-direction: row;
}
.left-content{
    padding-left: 80px;
    padding-right: 100px;
}
.left-content .menu{
    display: flex;
    flex-direction: column;
}
.left-content .menu>*{
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}
.left-content .menu a:hover{
    color: purple;
    border-bottom: 4px solid purple;
    width: fit-content;
}
.right-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.right-content .main-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.right-content .main-right >*{
    width: 30%;
    padding: 20px 0px 50px 10px;
}
.right-content .main-content h4{
    padding: 20px 0px 20px;
    font-weight: bold;
}
.right-content .main-content h5{
    color: gray;
}
.img{
    height: 60px;
    width: 60px;
    background-color: rgb(92, 60, 92);
    border: 50px;
    padding: 10px;
}
.top-right{
    height: 10%;
    border: 2px;
}
.right-content .service{
    font-size: 40px;
    padding: 220px 20px 100px;
    font-weight: 1000;
}